@model Invoice

<div class="card">
    <div class="card-header">
        <h2 class="card-title">@Model.FullName - @Model.AddressName</h2>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Image</th>
                </tr>
                
            </thead>
            <tbody>
               @foreach(InvoiceDetail item in Model.InvoiceDetails)
                    {
                        <tr>
                            <td>@item.ProductName</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                            <td>
                                <img width="70" src="https://localhost:44318/images/@item.ImageUrl"/>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
        
    </div>
</div>