@model WebApp1.Models.Module
<div class="card">
    <div class="card-header">
        <h2 class="card-title">@Model.Code - @Model.Name</h2>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>ProfessorId</th>
                    <th>Professor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (WebApp1.Models.Professor item in ViewBag.professsorsModule)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FullName</td>
                    </tr>
                }

                @*-------------------------------------------------------------*@
                @*Sử dụng Mapping*@
                @*@foreach (WebApp1.Models.ModuleProfessor item in Model.ModuleProfessors)
                    {
                        <tr>
                            <td>@item.ProfessorId</td>
                            <td>@item.Processor.FullName</td>
                        </tr>
                    }*@

                @*-------------------------------------------*@
                @*Sữ dung thủ tuc*@
                @*@foreach (WebApp1.Models.Professor item in ViewBag.moduleProfessors)
                    {
                        <tr>
                            <th>@item.Id</th>
                            <th>@item.FullName</th>
                        </tr>
                    }*@


                @*Thông thường*@
                @*@foreach (WebApp1.Models.ModuleProfessor item in ViewBag.moduleProfessors)
                    {
                        <tr>
                            <td>@item.ProfessorId</td>
                        </tr>
                    }*@
            </tbody>
        </table>
        <form method="post">
            <div>
                <label>Professor</label>
                <select class="form-control" name="professorId" multiple>
                    @*Sử dụng Mapping*@
                    @foreach (WebApp1.Models.Professor item in ViewBag.professors)
                    {
                        <option value="@item.Id">@item.FullName</option>
                    }

                    @*----------------------------------------------------*@
                    @*@foreach (WebApp1.Models.Professor item in ViewBag.professors)
                        {
                            <option value="@item.Id">@item.FullName</option>
                        }*@
                </select>
            </div>
            <div>
                <button type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $('select[name="professorId"]').select2();
</script>