@model List<Product>
@using System.Web
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<a class="btn btn-success" href="/dashboard/product/create">Create</a>
    <table  class="table table-bordered">
        
        <thead class="table-dark">
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Sku</th>
                <th>Price</th>
                <th>SaleOff</th>
                <th>Material</th>
                <th>Image</th>
                <th>Description</th>

            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.Sku</td>
                    <td>@item.Price</td>
                    <td>@item.SaleOff</td>
                    <td>@item.Material</td>
                    <td>
                        <img src="https://localhost:44318/images/@item.ImageUrl" width="70"/>
                    </td>
                    <td>@Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Description))</td>
                    <td>
                        <a href="/dashboard/product/edit/@item.ProductId">Edit</a>
                    </td>
                    <td>
                        <a href="/dashboard/product/detail/@item.ProductId">Detail</a>
                    </td>
                </tr>
            }
        </tbody>
            
       
        
    </table>
