@model Product
<div class="card">
    <div class="card-header">
        <div class="card-title">@Model.ProductName</div>
    </div>
    <div class="card-body">
        <p>Price: @Model.Price</p>
        <p>Sku: @Model.Sku</p>
        <p>Material: @Model.Material</p>
        @if(Model.SaleOff!=null)
        {
            <p>SaleOff: @Model.SaleOff</p>
        }
        <div><img class="img-fluid" src="https://localhost:44318/images/@Model.ImageUrl"/></div>
        <p>Description: </p>
        <div>@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))</div>
    </div>
    <div class="card-footer"><a href="/home">Back to Home</a></div>
</div>

<div>Relation Products</div>
<div class="row">
    @foreach(Product item in ViewBag.products)
            {
                <div class="col-4">
                    <h2>
                    <a href="/home/detail/@item.ProductId">@item.ProductName</a>
                    </h2>
                    <p>Price: @item.Price</p>
                    <p>Sku:@item.Sku</p>
                    <div><img class="img-fluid" src="https://localhost:44318/images/@item.ImageUrl"/></div>
                </div>
            }
</div>